{% extends 'base.html.twig' %}

{% block title %}Concurrence index{% endblock %}

{% block body %}
    <h1>Concurrence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concurrence in concurrences %}
            <tr>
                <td>{{ concurrence.id }}</td>
                <td>{{ concurrence.name }}</td>
                <td>{{ concurrence.prix }}</td>
                <td>{{ concurrence.etat }}</td>
                <td>
                    <a href="{{ path('concurrence_show', {'id': concurrence.id}) }}">show</a>
                    <a href="{{ path('concurrence_edit', {'id': concurrence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('concurrence_new') }}">Create new</a>
{% endblock %}
