{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>
<div class="row">
    <div class="col-md-6 mx-auto">
        <article class="pin bg-white rounded shadow">
            <h3>{{ produit.name }}
                <small class="float-right mw-100">{{produit.price.IsPlancher !=true ? produit.price.prixNormal : produit.price.prixPlancher}} €</small>
            </h3>
            <strong>Etat: {{ produit.etat.name }}</strong>
            <div class="mw-100 overflow-hidden">
                <a href="{{ path('produit_show', {'id': produit.id}) }}">
                    <img src="{{ vich_uploader_asset(produit) | imagine_filter('my_thumb_filter_max') }}"
                         alt="{{ produit.name }}" class="w-100 rounded-top"/>
                </a>
            </div>
            <p>{{ produit.description}}</p>
            <p>Poster il y'a {{ produit.updatedAt |ago }}</p>

            <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
        </article>
        <a href="{{ path('produit_index') }}">back to list</a>
    </div>
</div>



    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
